<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <script src="/javascripts/angular.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>

<div class="container" id="container">
    <div class="form-container sign-up-container" ng-app="studentRegistrationApp" ng-controller="studentRegistrationCtrl">
        <form name="regis" autocomplete="off">
            <h1>Create Account</h1><br>
            <input type="hidden" ng-model="_id">
            <input placeholder="*Full Name" type="text" ng-model="name" required>
            <input type="text" pattern="^[0-9]*$" ng-model="roll_no" placeholder="*Roll no" required>
            <input placeholder="*Phone no" type="text" pattern="^[0-9]*$" maxlength="10" minlength="10" autocomplete="off"  ng-model="phone_no">
            <input type="email" placeholder="*Email" ng-model="email" required>
            <input type="password" placeholder="*Password" ng-model="password" required>

            <button  ng-click="save()">Sign Up</button><br><br>
            <span>*  Required</span>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form>
            <h1>SIGN IN</h1><br>

            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello,Friend</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');


    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });


    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });


    let app = angular.module('studentRegistrationApp',[]);
    app.controller('studentRegistrationCtrl',function ($scope, $http){

        $scope._id = '';
        $scope.name = '';
        $scope.roll_no = '';

        $scope.phone_no = '';
        $scope.email = '';
        $scope.password = '';

        $http.get('http://localhost:3000/student_registration/get-studentRegistration').then((response)=>{
            console.log(response.data);
            $scope.myData = response.data;
        });
        $scope.save = function(){

            if($scope._id.length > 0){
                //edit
                const studentRegistration = {
                    _id: $scope._id,
                    name: $scope.name,
                    roll_no: $scope.roll_no,

                    phone_no: $scope.phone_no,
                    email: $scope.email,
                    password: $scope.password

                }
                $http.post('http://localhost:3000/student_registration/update-studentRegistration',studentRegistration)
                    .then((response)=>{
                        if(response.data.info == 'Record Updated'){
                            console.log(response.data);
                            for(let i = 0; i < $scope.myData.length; i++ ){
                                if($scope.myData[i]._id == $scope._id){
                                    $scope.myData[i].name = $scope.name;
                                    $scope.myData[i].roll_no = $scope.roll_no;

                                    $scope.myData[i].phone_no = $scope.phone_no;
                                    $scope.myData[i].email = $scope.email;
                                    $scope.myData[i].password = $scope.password;




                                }
                            }
                        }

                    });
            }else{
                //add
                const studentRegistration = {
                    _id: '',
                    name: $scope.name,
                    roll_no: $scope.roll_no,

                    phone_no: $scope.phone_no,
                    email: $scope.email,
                    password: $scope.password,

                }
                $http.post('http://localhost:3000/student_registration/add-studentRegistration',studentRegistration)
                    .then((response)=>{
                        if(response.data.info == 'Record added'){
                            alert('User Registration Successful')
                            console.log(response.data);
                            studentRegistration._id = response.data.obj._id;
                            $scope.myData.push(studentRegistration);
                        }
                    });
            }
        }
    });
</script>
</body>
</html>
